@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  min-height: 100vh;
  background-image: linear-gradient(to right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.container{
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 850px;
  height: 500px;
  border-radius: 30px;
  position: relative;
  padding: 50px;
  margin-bottom: 20px;
}

.imgDiv{
  width: 50%;
  margin: 20px;
  position: relative;
}

.box{
  width: 150px;
  position: absolute;
  top: 90px;
  right: 400px;
} 

.woman{
  width: 450px;
  position: relative;
  top: 0;
  right: 150px;
}

.backgroungImg{
  position: absolute;
  top: -20px;
  right: 120px;
  width: 400px;
}

.accAnswer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.accAnswer p {
  font-size: var(--Fontsize);  

}

.acc.active .title{
  font-weight: 700;
}

.acc.active .accAnswer{
  max-height: 300px;
}

.accQuestion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 5px;

}

.acc{
  padding: 10px 0px;
  border-bottom: 1px solid var(--Lightgrayishblue);
  margin: 10px auto;
}

.title{
  font-size: 14px;
  color: var(--Darkgrayishblue);
  font-weight: 400;
}

.title:hover{
  color:var(--softred)
}

.acc.active .icon{
  transform: rotate(180deg);
}

.icon{
  transition: transform .5s ease-in;
}

.icon.active{
  rotate: 180deg;
}

:root{
  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --softred: hsl(14, 88%, 65%);

  /* Text */
  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);
  --Fontsize: 14px;

  /* Dividers */
  --Lightgrayishblue: hsl(240, 5%, 91%)
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

